<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796432377158-ctl4o10l34ubhoj5q53lpe1sppn7hfih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796432377158-ctl4o10l34ubhoj5q53lpe1sppn7hfih</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>796432377158-e01jb3naao4mqahlnb3smdjd7vnghfvl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLP7HM1gNUPMoHaZp6nhB-vhT8BU2-3NA</string>
	<key>GCM_SENDER_ID</key>
	<string>796432377158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tcnk.petSitter</string>
	<key>PROJECT_ID</key>
	<string>tcnk-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>tcnk-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796432377158:ios:fa90c98dd4383da6787147</string>
	<key>DATABASE_URL</key>
	<string>https://tcnk-2024-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>